<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Information"
      internalLogFile="Logs/ConsoleProxy.API-internal-nlog.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Extensions.Logging"/>
  </extensions>
  <variable name="minimalTargetLayout" value="${longdate} - ${message} ${exception:format=tostring}" />
  <variable name="verboseTargetLayout" value="${longdate}|${machinename}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}" />
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${minimalTargetLayout}" />
    <target name="file" xsi:type="File" layout="${verboseTargetLayout}" fileName="../../../Logs/ConsoleProxy.API-${shortdate}-nlog.log" />
  </targets>
  <rules>
    <logger name="*" minlevel="Information" writeTo="console" />
    <logger name="*" minlevel="Information" writeTo="file" />
  </rules>
</nlog>
